<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <!-- !!禁止使用stdout这个appender -->
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yy-MM-dd HH:mm:ss,SSS} %-5p %c(%F:%L) ## %m%n"/>
        </layout>
    </appender>


    <logger name="org.apache.http">
        <level value="info"></level>
    </logger>

    <!--log config start-->
    <logger name="org.perf4j.TimingLogger" additivity="false">
        <level value="INFO"/>
    </logger>


    <root>
        <level value="debug"/>
        <appender-ref ref="stdout"/>
    </root>

</log4j:configuration>
